<html>

<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>
        Nutrition Assistant Application
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
</head>

<body>
    <section class="header">
        <div class="title">
            <h1>NUTRITION ASSISTANT</h1>
        </div>
        <nav>

            <div class="nav-links">

                <ul>
                    <li>
                        <a href="register.html">REGISTER</a>
                    </li>
                    <li>
                        <a href="login.html">LOGIN</a>
                    </li>
                    <li>
                        <a href="homepage.html">HOME PAGE</a>
                    </li>
                    <li>
                        <a href="profile.html">PROFILE</a>
                    </li>
                    <li>
                        <a href="#">HISTORY</a>
                    </li>
                </ul>
            </div>

        </nav>`
        <br>
        <div class="text-box">
            <h1>
                Nutrition app
            </h1>
            <p>
                A nutrition specialist known as a nutrition assistant uses diagnostic techniques to spot nutritional
                deficiencies in patients.
                <br> To ensure that patients receive the right nutrition, they collaborate closely with dietitians and
                nutritionists.
                <br> After evaluating all risk factors, nutritionists must interview their patients to ascertain their
                needs before providing the best meal plans.

            </p>
        </div>
        <br>
    </section>

    <section class="data">
        <h1>
            Nutrition Food
        </h1>
        <div class="row">

            <div class="data-col">
                <p>
                    supplying the menu and food planning for the facility to dieticians.
                    obtaining dietary data and evaluating patients' eating practises.
                    keeping track of any dietary restrictions or risk factors that may have an impact on meal
                    preparation.
                    coordinating diets with nutritionists and medical experts.
                    carrying out regular nutrition assessments, which comprise calculating calorie intake and activity
                    levels.
                    facilitating quick responses to hunger, allergies, or unwillingness to eat symptoms.
                    assisting with lunch distribution, making sure meals are delivered accurately and served on time.
                    maintaining appropriate sterilisation procedures when putting plates and cutlery away and washing
                    them.
                    safely throwing away leftovers to stop the spread of disease.
                    teaching patients and their families about diet planning and wholesome eating practises.

                </p>

            </div>
            <div class="course-col">
                <img src="C:\Users\student\Desktop\New folder\img1.png" width="300" height="250">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="course-cols">
                <img src="C:\Users\student\Desktop\New folder\img3.png" width="300" height="250">
            </div>
            <div class="data-cols">
                Foods that are nutrient-dense are high in vitamins, minerals, and other nutrients that are crucial for
                health without having excessive amounts of saturated fat, added sugars, or sodium. Fruits, vegetables,
                whole grains, non-fat and low-fat dairy, fish, seafood, unprocessed lean meat, skinless chicken, nuts,
                and legumes are all included in this list. The best option for quenching thirst is water. obesity and
                etes.
            </div>
        </div>

    </section>
    <section class="upload">
        <h1>
            Nutrition Benifits
        </h1>
        <br>

        <div class="row">
            <div class="upload-col">
                <img src="C:\Users\student\Desktop\New folder\img2.png" alt="img3" width="100%">
                
            </div>
        </div>
        <div class="layer">
            <h3>Nutrition<br>
                Without having too much saturated fat, added sugar, or sodium, nutrient-dense foods are high in
                vitamins, minerals, and other substances vital to health. Fruits, vegetables, whole grains,
                dairy products without added fat and those with reduced fat, fish and seafood, unprocessed lean
                meat and skinless chicken, nuts, and legumes are all included. The finest beverage to quench
                your thirst is water. obese people and etes.
            </h3>
        </div>
    </section>


    </section>
</body>